SERVER_PORT=8081
SERVER_HOST=/bot-finanzas/api

BOT_USERNAME=
BOT_TOKEN=
BOT_USERNAME_ID=

MONGO_INITDB_CONTAINER_NAME=finances
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin1234
MONGO_INITDB_DATABASE=finances
MONGO_INITDB_HOST=localhost
MONGO_INITDB_PORT=27017