SERVER_PORT=8080
SERVER_HOST=/bot-finanzas/api

bot_username=
bot_token=
bot_username_id=

MONGO_INITDB_ROOT_USERNAME=botAdmin
MONGO_INITDB_ROOT_PASSWORD=admin1234
MONGO_INITDB_ROOT_DATABASE=bot_finanzas
MONGO_INITDB_ROOT_CONTAINER_NAME=mongodb_bot_finanzas
