SERVER_PORT=8081
SERVER_HOST=/bot-finanzas/api

bot_username=
bot_token=
bot_username_id=

MONGO_INITDB_CONTAINER_NAME=mongodb_bot_finanzas
MONGO_INITDB_ROOT_USERNAME=botAdmin
MONGO_INITDB_ROOT_PASSWORD=admin1234
MONGO_INITDB_DATABASE=mongodb_bot_finanzas
MONGO_INITDB_HOST=localhost
MONGO_INITDB_PORT=27017